:root {
    --input-bg: #E4EEfA;
    --primary: #446E9B;
    --background: #04203F;
    --table-bg: #C9DEF5;
    --table-bg-alt: #AECBEB;
    --danger: #CD0200;
    --success: #3CB521;
    --font-ubuntu: 'Ubuntu', sans-serif;
    --font-offside: 'Offside', sans-serif; 
    --font-ubuntu: 'Ubuntu', sans-serif;
    --font-ptSans: 'Pt-sans', sans-serif;
    --font-workSans: 'Work Sans', sans-serif;
}
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: var(--font-ptSans);
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.lp-text {
    font-size: 50px; 
}

.home-bg {
    background: var(--background);
}
.logo-text {
    font-size: 24px; 
}

.findOut {
    text-decoration: none;
}
a, a:hover {
    color: inherit;
    text-decoration: none; 
}
.nav-logo {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
}
.nav-logo-sm {
    width: 14px;
    height: 14px;
    background: none;
    border: none;
}
.nav-logo,
.nv-icons {
    font-size: 40px; 
}
.host-header,
.nav-text,
.nav-link,
#vol-link,
.contact-input,
.tel,
.vol-title,
.spotlight-intro,
.meet-text,
.ft-heading {
    font-size: 18px;
}
.host-header {
    line-height: 1.2;
    border-left: 1.5px solid var(--background);
}

.nav-text {
    font-weight: 500; 
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    color: var(--success); 
}
.nav-login {
    background:none;
    outline: none;
    border: none;
}
#vol-link:hover,
#vol-link:focus,
#vol-link:active {
    color: var(--success);
    background: var(--primary); 
}

.nav-volunteer:hover,
#vol-link > .nav-text > .nav-volunteer:active {
    color: var(--success);
    border: 1px double var(--success);
} 

.ft-signup {
    border-radius: 20px; 
}
.ft-signup:hover,
.ft-signup:focus,
.ft-signup:active {
    border: 3px double var(--success);
    background: var(--primary);
    color: white;
}

.btn-feedback,
.btn-vol-app {
    height: 50px;
    border-radius: 30px;
    font-size: 16px; 
}

.breadcrumb {
    background: transparent;
    padding-left: 0;
    padding-top: 4px;
}
.bc-prev {
    font-weight: 600;
}
.bc-now {
    opacity: 65%;
}
.breadcrumb .breadcrumb-item::before {
    opacity: 50%; 
}

.row-content,
.card-row {
    padding: 40px 0;
    min-height: 100px; 
}
h1 {
    font-size: 32px;
    text-shadow: 1px 1px 3px;
}
h1,
h2 {
    font-weight: 600;
    text-shadow: 1px 1px 3px;
    
}
h2 {
    margin: 20px 0; 
    font-size: 26px; 
}

hr {
    border: 3px double var(--success); 
    opacity: 50%; 
}
img,
.vol-card-body {
    border: 3px double var(--primary); 
}
.landing-caption {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    background: transparent; 
    word-spacing: 1px;
}
.hero {
    background-image: 
        linear-gradient(rgba(4, 13, 20, 0.9), 
            rgba(4, 13, 20, 0.9)), 
            url(images/background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    height: auto;
}
.hero-inner {
    position: fixed;
    top: 30%;
    display: flex;
    justify-content: center;
    align-content: center;
    background: var(--cl-altBg);
    overflow: hidden;
}
.landing {
    scrollbar-width: none;

}
.sub-text {
    font-size: 50px; 
    text-shadow: 1px 1px 3px;
}
.lp-logo {
    width: 38px;
    height: 38px;
    border: none;
}
.btn-learn {
    max-width: 120px;
    border-radius: 35px;
    height: 45px;
    font-size: 16px;
    font-weight: 500; 
}

.mission-text {
    font-size: 16px; 
    overflow-wrap: normal;
}

/* About */
.about-card-holder {
    background: transparent; 
}
.about-table-header{
    font-size: 22px;
    font-weight: 600;
}
.about-card-body {
    padding: 15px;
} 

.about-card-odd {
    background: var(--table-bg); 
}
.about-card-even {
    background: var(--table-bg-alt);
}
.table-icon {
    width: 33.33px;
    height: 33.33px;
} 
.accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    color: white;
    border-radius: 3px 3px 0 0;
    border-bottom: 3px double var(--success);
    font-size: 22px;
    font-weight: 600;
    padding: 1rem;
}
.faq-accordion-title {
    border: 2px double var(--primary);
    font-size: 18px;
    
}

.description {
    padding: 1rem;
    font-weight: 500;
    border-radius: 0 0 3px 3px;
    border: 2px double var(--primary);
    background-color: var(--table-bg);
    font-size: 16px;
}
.faq-accordion-description {
    border: 2px double var(--primary);
    border-top: none;
    border-radius: 0 0 3px 3px;
    background-color: none;
    font-size: 16px;
}
.faqBtn {
    background: none;
    border: none;
    color: white; 
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.faqBtn:hover,
.faqBtn:active,
.faqBtn:focus {
    background: none;
    color: var(--success);
}
.last-dt {
    border-radius: 0 0 3px 3px;
}

.address-info {
    font-size: 16px; 
}

.form {
    background: var(--background);
    border: 3px double var(--table-bg-alt);
    border-radius: 5px;
}
.contact-input {
    border: 3px double var(--primary);
    height: 40px;
    color: var(--primary);
    background: var(--input-bg); 
}
.errors {
    color: var(--danger);
    font-size: 14px;
}

.form-control::-webkit-input-placeholder {
    color: var(--primary); 
}

.custom-control-label::before {
    background: var(--input-bg); ;
    border: 1px double var(--primary) !important; 
}
.label-agree::before,
.label-interests::before {
    -webkit-border-radius: 0px ;
    -moz-border-radius: 0px ;
    border-radius: 0px !important; 
    border: 1px double var(--primary) !important;
}
.contact-input> option {
    background: var(--input-bg);
}
.label-interests {
    font-size: 16px;
    font-weight: 500;
}


/* modal */
.modalCustom {
    border-radius: 5px ;
    border: 3px double var(--primary); 
}
.modal-header, 
.modal-body {
    border-bottom: 2px double var(--table-bg-alt);
}
.modal-title {
    color: white;
}
.modal-body {
    color: var(--primary);
}
.close {
    color: #ff1d1b;
    text-shadow: none;
}

.site-footer {
    padding: 0;
    color: #EEEEEE;
    border: #345578;
}

ul li .faq-link:hover,
ul li .faq-link:focus {
    text-decoration: none;
    opacity: 100%;
    color: white;
}

/* Volunteer Cards */
.vol-cards,
.meet-img {
    border: 3px double rgb(110, 163, 199);
    box-shadow:  inset 50px 50px 100px #03162b,
        inset -50px -50px 100px #052a53;
}
.cd-img {
    border: 3px groove rgb(110, 163, 199);
    border-bottom: none;
}

.vol-card-body {
    border: 3px groove rgb(110, 163, 199);
    border-top: none;
}

.meet-holder {
    margin: 40px auto;
}
.meet-card {
    margin-bottom: 50px;
    font-family: var(--font-offside);
    background: var(--background);
    border-radius: 10px;
    box-shadow: inset 50px 25px 100px #03162b,
        inset -50px -25px 50px #052a53;
}
.meet-role {
    font-family: var(--font-offside);
}
.meet-text {
    line-height: 1.3;
}
.design {
    font-weight: 600;
}

@media screen and (min-width: 475px) {
    h1 {
        font-size: 34px;
    }
    .sub-text {
        font-size: 60px; 
    }
    .lp-logo {
        width: 42px;
        height: 42px;
    }
    .faq-accordion-title {
        font-size: 20px;
    }
    .mission-text {
        font-size: 18px; 
    }
}


@media screen and (min-width: 768px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 30px; 
    }
    .sub-text {
        font-size: 60px; 
    }
    .lp-logo {
        width: 42px;
        height: 42px;
    }
    .hero-inner {
        top: 40%;
    }
    .nav-link,
    #vol-link,
    .mission-text,
    .meet-text {
        font-size: 20px;
    }
    .btn-learn,
    .faqBtn,
    .table-text,
    .description {
        font-size: 18px; 
    }
    .btn-learn {
        max-width: fit-content;
        height: 55px;
        border-radius: 45px;
    }
    .about-table-header, 
    .question {
        font-size: 24px;
    }
    .accordion-title {
        font-size: 22px;
    }
    /* .meet-text {
        line-height: 1.2;
    } */
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 36px; 
    }
    .sub-text {
        font-size: 79px; 
    }
    .lp-logo {
        width: 64px;
        height: 64px;
    }
    .table-icon {
        width: 40px;
        height: 40px;
    } 
    .about-table-header,
    .question {
        font-size: 26px;
    }
    .description,
    .vol-title,
    .spotlight-intro {
        font-size: 20px; 
    }
    .meet-holder {
        margin-top: 60px;
        margin-bottom: 275px;
    }
    
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 46px;
    }
    h2 {
        font-size: 40px; 
    }
    .sub-text {
        font-size: 98px; 
    }
    .lp-logo{
        width: 78px;
        height: 78px;
    }
    
    .vol-title {
        font-size: 22px;
    }
    .meet-holder {
        margin-bottom: 222px;
    }

}
